@media (max-width: 500px) {
.center_pic{margin: auto; padding: 0 0 0 0;	width: 100%; max-width: 500px;}
.center{margin: auto; padding: 0 0 0 0;	width: 100%; max-width: 500px;}
.left_box{width:70%;}
.left_box > h1{float:left; font-size:12px }

.reb_bg_inside > h1{width:65%; color:#FFF; font-size:14px; text-align:left;}
.red_bg .green_btn{float:left;width:20%;height:10px; background-color:#69c524; font-size:14px; color:#FFF; text-align:center; padding:1% 1% 2% 1%;  float:left; margin:0px; text-align:center; line-height:14px; }

.icon{width:20%;}
.box_text{ margin-left:2%;margin-top:0%; float:left; width:78%; font-size:12px}

.right_box{width:30%;}
.right_box > h2{width:30%;float:left; margin:15% 0% 0% 0%; font-size:12px}
.download{margin:15% 0% 15% 0%; width:70%;}
.green_btn{width:60%; background-color:#69c524; font-size:14px; color:#FFF; text-align:center; padding:16% 24% 16% 24%; margin:0% 0% 0% 0%}
.orange_btn{width:60%;height:15px;font-size:14px; color:#FFF; text-align:center; padding:16% 24% 16% 24%; margin:0% 0% 0% 0%}
.blue_btn{width:60%;height:15px; background-color:#0CF; font-size:14px; color:#FFF; text-align:center; padding:16% 15% 16% 15%; margin:0% 0% 0% 0%}

.gift_left_text{float:left;width:55%; font-size:14px; margin-top:6%  }
.gift_right_text{float:left;width:25%;color:#F00; font-size:14px;margin-top:6%  }

.forget_input li input{width:53%; margin:3% 0% 0% 5%;}
.forget_input li{float:left;width:96%; margin:0% 2% 1% 2%}
.forget_input li >h1{float:left;width:40%; margin:4% 0% 0% 0%}

.memberModify_input li{float:left;width:96%; margin:0% 2% 1% 2%}
.memberModify_input li input{width:53%; margin:3% 0% 0% 5%;}
.memberModify_input li >h1{float:left;width:40%; margin:4% 0% 0% 0%}

.mission_record_input li{width:33%;}

.register_input li{float:left;width:96%; margin:0% 2% 1% 2%}
.register_input li input{width:53%; margin:3% 0% 0% 5%;}
.register_input li >h1{float:left;width:40%; margin:4% 0% 0% 0%}
.register_TextCenter{width:94%; margin:0% 3% 0% 3%;}

.login_input li{float:left;width:96%; margin:0% 2% 1% 2%}
.login_input li input{width:53%; margin:3% 0% 0% 5%;}
.login_input li >h1{float:left;width:40%; margin:4% 0% 0% 0%}

.inspect_input li{width:96%; margin:0% 2% 1% 2%}
.inspect_input li input{width:53%; margin:3% 0% 0% 5%;}
.inspect_input li >h1{width:40%; margin:4% 0% 0% 0%}
.inspect_btn{width:50%;padding:3% 5% 3% 5%; margin:0%}
.inspect_download{width:90%; margin:0% 5% 0% 5%}
.inspect_download >h3{width:35%; margin:3% 3% 0% 0%; text-align:center}

.footer .center ul{height:70px}
.footer .center li a{width:33%; height:70px}
.footer .center a img{width:40%; margin:5% 0px 5% 30%}
.line{height:70px}
.correct_btn{width:33%; height:70px}

.login_box, .register_box, .forget_box,.mission_record_box,.qa_box,.memberModify_box,.member_box,.missionDone_box,.record_box,.gift_box,.giftPage_box{float:left; width:94%; margin:3% 0% 0% 3%;height:auto}

/*****footer*****/
.footer .center ul{float:left;width:100%; background:#ffae00; height:60px;}
.footer .center li a{float:left;width:33.1%;  height:60px}
.footer .center a img{width:50%; margin:5% 0% 5% 25%}
.line{float:left;background:#FFF; width:1px;height:100px}
.correct_btn{float:left;width:33.2%; background:#ff7b00; height:100px}

}
@media (max-width: 360px) {
.center_pic{margin: auto; padding: 0 0 0 0;	width: 100%; max-width: 360px;}

}