@charset "UTF-8";
/*預設歸零***********************/
img,ul,ol,p,li,h1,h2,h3,h4,h5,h6,th,b,input,select {font-family:"Helvetica Neue",Arial,"Heiti TC","LiHei Pro","微軟正黑體","Microsoft Jhenghei",sans-serif; margin: 0px; padding: 0px; list-style-type: none; font-weight: normal;font-size: 100%;border:0px;}
a{
	text-decoration: none;
}
/*反白**************************/
body::selection, a::selection, iframe::selection, div::selection, span::selection, img::selection, ul::selection, ol::selection, p::selection, li::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, input::selection {
color:#FFF; background-color:#FC0; font-family:}
/*R角**************************/
.fillet_5{
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright:5px;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-webkit-border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-webkit-border-bottom-right-radius:5px;
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}
.fillet_12{
-moz-border-radius-topleft: 12px;
-moz-border-radius-topright:12px;
-moz-border-radius-bottomleft:12px;
-moz-border-radius-bottomright:12px;
-webkit-border-top-left-radius:12px;
-webkit-border-top-right-radius:12px;
-webkit-border-bottom-left-radius:12px;
-webkit-border-bottom-right-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
}
.fillet_15{
-moz-border-radius-topleft: 15px;
-moz-border-radius-topright:15px;
-moz-border-radius-bottomleft:15px;
-moz-border-radius-bottomright:15px;
-webkit-border-top-left-radius:15px;
-webkit-border-top-right-radius:15px;
-webkit-border-bottom-left-radius:15px;
-webkit-border-bottom-right-radius:15px;
border-top-left-radius:15px;
border-top-right-radius:15px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
}

img{width:100%}

body {margin:0px; padding:0px; font-size: 14px; background-color:#d4d4d2;}
.center{margin: auto; padding: 0 0 0 0;	width: 100%; max-width: 800px; height:auto}
.center_pic{margin: auto; padding: 0 0 0 0;	width: 100%; max-width: 800px; vertical-align:middle; background:url(../images/index_bg.jpg); background-position:center; background-repeat:no-repeat; }
.center_pic img{width:88%; margin-left:6%; margin-right:6%; margin-top:0px}

.top, .page, .red_bg, .main{width:100%; float:left;}

.top .center > h1{ padding:20px 0 20px 0; font-size:16px; text-align:center; background-color:#ffae00;}

.page .center > h1{ color:#FFF; padding:8px 0 8px 0; font-size:14px; text-align:center; background-color:#333;}

.reb_bg_inside{ float:left; width:98%;padding:0.5% 0 0.5% 2%; background-color:#9e1313; }
.reb_bg_inside > h1{float:left; width:25%; color:#FFF; font-size:14px; text-align:left;}
.red_bg .green_btn{float:left;width:15%;height:10px; background-color:#69c524; font-size:14px; color:#FFF; text-align:center; padding:0.5% 1% 1% 1%;  float:left; margin:0px; text-align:center; line-height:14px; }

.left_box{float:left; width:60%; height:auto}
.left_box > h1{float:left; font-size:14px }
.icon{width:20%;float:left; }
.box_text{ margin-left:10%;margin-top:3%; float:left}
.box_text > h3{ color:#F00}

.right_box{float:left; width:40%;height:auto}
.right_box > h2{width:15%;float:left; margin:12% 0% 0% 45%; font-size:14px }
.download{float:left; margin:12% 0% 0% 0%; width:40%;}
.green_btn{width:100%;height:20px; background-color:#69c524; font-size:14px; color:#FFF; text-align:center; padding:10% 23% 10% 23%; margin:10%}
.orange_btn{width:100%;height:20px; background-color:#F60; font-size:14px; color:#FFF; text-align:center; padding:10% 23% 10% 23%; margin:10%}
.blue_btn{width:100%;height:20px; background-color:#0CF; font-size:14px; color:#FFF; text-align:center; padding:10% 18% 10% 18%; margin:10%}

.login_list{width:100%; float:left; height:auto; margin-bottom:20%;}
.main_list{width:100%; float:left; height:auto; margin-bottom:20%; margin-top:1%}
.main_list li{ width:94%; float:left; background-color:#FFF; margin:0% 1% 1% 1%;
padding:2%; height:auto;
-moz-border-radius-topleft: 12px;
-moz-border-radius-topright:12px;
-moz-border-radius-bottomleft:12px;
-moz-border-radius-bottomright:12px;
-webkit-border-top-left-radius:12px;
-webkit-border-top-right-radius:12px;
-webkit-border-bottom-left-radius:12px;
-webkit-border-bottom-right-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px; }

.login_box{float:left; width:50%; margin:5% 0% 0% 25%;}
.login_btn{float:left; width:100%; display:block}
.login_input{ width:100%; float:left; background:#FFF;
border-top-left-radius:0px;
border-top-right-radius:0px;
}
.login_correct{float:left; width:50%; height:40px; display:block; text-align:center; 
font-size:18px;line-height:40px;
background-color:#f27e30; color:#FFF; 
-webkit-border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;}
.login_no_correct{float:left; width:50%; height:40px; display:block; text-align:center; 
font-size:18px;line-height:40px;
background-color:#ffae00; color:#FFF; 
-webkit-border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;}
.register_correct{float:left; width:50%; height:40px; display:block; text-align:center; 
font-size:18px;line-height:40px;
background-color:#f27e30; color:#FFF; 
-webkit-border-top-left-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;}
.register_no_correct{float:left; width:50%; height:40px; display:block; text-align:center;font-size:18px;line-height:40px;
background-color:#ffae00; color:#FFF; 
-webkit-border-top-left-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;}
.forget_title{float:left; width:100%; height:40px; display:block; text-align:center; 
font-size:18px;line-height:40px;
background-color:#f27e30; color:#FFF; 
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;}

.qa_title{float:left; width:96%; height:auto; display:block; text-align:left; 
font-size:18px;line-height:28px; padding:1% 2% 0% 2%;
background-color:#f27e30; color:#FFF; 
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;}

.login_list li,.register_list li,.forget_list li{ width:100%; float:left; height:55px; margin-top:1%; margin-bottom:1%}
.login_input li >h1{float:left;width:25%; margin:6% 0% 0% 10%}

.login_input .a_underline_l {float:left; margin:0% 3% 0% 40%; text-decoration:underline }
.login_input .a_underline_r {float:left; margin:0% 3% 0% 0%; text-decoration:underline }
.login_download{float:left; width:90%; margin:0% 5% 0% 5%}
.login_download .btn_green{float:left; width:100%; background-color:#69c524; font-size:14px; color:#FFF; text-align:center; margin:10px 0% 0 0%; padding:10px 0}

.login_input li{float:left;width:100%;}
.login_input li input{float:left; width:57%;height:30px; margin:3% 0% 0% 5%; display:block; border:1px solid #000;}
.login_input li >h1{float:left;width:30%; margin:4% 0% 0% 5%}
.login_box{float:left; width:56%; margin:3% 0% 0% 22%;}
.login_input{ width:90%; float:left; background:#FFF; padding:5%;
border-top-left-radius:0px;border-top-right-radius:0px}

.register_input li >h1{float:left;width:30%; margin:4% 0% 0% 5%}
.register_TextCenter{float:left;width:57%; margin:0% 3% 0% 40%; text-align:left; font-size:12px}
.register_download{float:left; width:90%; margin:0% 5% 0% 5%}
.register_download .btn_green{float:left; width:100%; background-color:#69c524; font-size:14px; color:#FFF; text-align:center; margin:10px 0% 0 0%; padding:10px 0}
.register_box{float:left; width:56%; margin:3% 0% 0% 22%;}
.register_input{ width:90%; float:left; background:#FFF; padding:5%;
border-top-left-radius:0px;border-top-right-radius:0px}
.register_input li input{float:left; width:57%;height:30px; margin:3% 0% 0% 5%; display:block; border:1px solid #000;}

.forget_input li input{float:left; width:57%;height:30px; margin:3% 0% 0% 5%; display:block; border:1px solid #000;}
.forget_download{float:left; width:80%; margin:0% 10% 0% 10%}
.forget_download .btn_green{float:left; width:100%; background-color:#69c524; font-size:14px; color:#FFF; text-align:center; margin:10px 0% 0 0%; padding:10px 0}
.forget_input li >h1{float:left;width:30%; margin:4% 0% 0% 5%}
.forget_input li{float:left;width:100%;}
.forget_input li >h2{float:left;width:100%;text-align:center}
.forget_box{float:left; width:56%; margin:3% 0% 0% 22%;}
.forget_input{ width:90%; float:left; background:#FFF; padding:5%;
border-top-left-radius:0px;
border-top-right-radius:0px;
}

.modify_download{float:left; width:40%; padding:0px 10% 0px 50%}
.modify_download .btn_green{float:left; width:45%;background-color:#69c524; font-size:14px; color:#FFF; text-align:center; margin:10px 0% 0 0%; padding:10px 0}
.modify_download .btn_pink{float:left; width:45%; margin:10px 5% 0 5%; padding:10px 0;background-color:#F6F; text-align:center; color:#FFF;font-size:14px;   }

.missionDone_download{float:left; width:90%; padding:0px 5% 0px 5%}
.missionDone_download .btn_green{float:left; width:47%;background-color:#69c524; font-size:14px; color:#FFF; text-align:center; margin:10px 0% 0 0%; padding:10px 0}
.missionDone_download .btn_pink{float:left; width:47%; margin:10px 6% 0 0%; padding:10px 0;background-color:#F6F; text-align:center; color:#FFF;font-size:14px;   }
.missionDone_input li >h1{float:left;width:100%; margin-top:6%; text-align:center;font-size:16px; }
.missionDone_input li{float:left;width:100%; margin:0% 0% 2% 0%}
.missionDone_box{float:left; width:56%; margin:3% 0% 0% 22%;}
.missionDone_input{width:90%; float:left; background:#FFF; padding:5%;
border-top-left-radius:0px;
border-top-right-radius:0px;
}

.memberModify_input li{float:left;width:90%; margin:0% 5% 1% 5%}
.memberModify_input li input{float:left; width:57%;height:30px; margin:3% 0% 0% 5%; display:block; border:1px solid #000;}
.memberModify_input li >h1{float:left;width:30%; margin:4% 0% 0% 5%}
.memberModify_box{float:left; width:56%; margin:3% 0% 0% 22%;}
.memberModify_input{ width:90%; float:left; background:#FFF; padding:5%;
border-top-left-radius:0px;
border-top-right-radius:0px
}

.member_download .btn_green{float:left; width:47%;background-color:#69c524; font-size:14px; color:#FFF; text-align:center; margin:10px 0% 0 0%; padding:10px 0}
.member_download .btn_green_p{float:left; width:47%; margin:10px 6% 0 0%; padding:10px 0;background-color:#69c524; text-align:center; color:#FFF;font-size:14px;   }
.member_download .btn_pink{float:left; width:47%; margin:10px 6% 0 0%; padding:10px 0;background-color:#F6F; text-align:center; color:#FFF;font-size:14px;}
.member_input li >h1{float:left;width:100%; margin-bottom:3%; text-align:left;font-size:16px; }
.member_input li{float:left;width:90%; margin:0% 5% 0% 5%; height:auto}
.member_box{float:left; width:56%; margin:3% 0% 0% 22%;}
.member_input{ width:90%; float:left; background:#FFF; padding:5%;
border-top-left-radius:0px;
border-top-right-radius:0px;
}
.outBox{ width:97%; float:left; background:#ff7b00; padding:0.5% 1.5% 1.5% 1.5%;
border-top:none;
border-top-left-radius:0px;
border-top-right-radius:0px;}
.member_input li input{float:left; width:99%;height:30px; margin:5% 0% 0% 0%; display:block; border:1px solid #000;
}

.record_download .btn_green{float:left; width:100%;background-color:#69c524; font-size:14px; color:#FFF; text-align:center; margin:10px 0% 0 0%; padding:10px 0}
.record_input li >h1{float:left;width:100%; margin-bottom:3%; text-align:left;font-size:16px; }
.record_input li{float:left;width:90%; margin:0% 5% 0% 5%; height:auto}
.record_box{float:left; width:56%; margin:3% 0% 0% 22%;}
.record_input{ width:90%; float:left; background:#FFF; padding:5%;
border-top-left-radius:0px;
border-top-right-radius:0px;
}

.qa_input >h1{float:left;margin:5% 5% 5% 5%;}
.qa_box{float:left; width:56%; margin:3% 0% 0% 22%;}
.qa_input{ width:100%; float:left; background:#FFF;
border-top-left-radius:0px;
border-top-right-radius:0px;
}

.mission_record_input ul{float:left; width:100%; height:auto;background-color:#BBFFF4; }
.mission_record_input li{float:left; width:33.1%; height:auto; margin:0}
.mission_record_top_s{float:left; width:100%; display:block; margin:0;  text-align:center;line-height:30px; background-color:#099; color:#FFF; height:auto; border-left:1px solid #FFF; border-right:1px solid #FFF; }
.mission_record_top_b{float:left; width:100%; display:block; margin:0; text-align:center;line-height:30px; background-color:#099; color:#FFF; height:auto;}
.mission_record_s{float:left; width:33%; display:block; margin:0; border-left:1px solid #FFF; border-right:1px solid #FFF; text-align:center;border-top:1px solid #FFF; line-height:30px; background-color:#BBFFF4; height:auto }
.mission_record_b{float:left; width:33%; display:block; margin:0;text-align:center;line-height:30px; background-color:#BBFFF4;border-top:1px solid #FFF;  height:auto }
.mission_record_box{float:left; width:56%; margin:3% 0% 0% 22%;}
.mission_record_input{ width:90%; float:left; background:#FFF;  padding:5%;
border-top-left-radius:0px;border-top-right-radius:0px;
}

.inspect_input li{ width:100%; float:left; }
.inspect_input{ width:94%; float:left; background:#FFF; padding:3%;border-top-left-radius:0px;
border-top-right-radius:0px;}
.inspect_input li input{float:left; width:55%;height:30px; margin:2% 0% 0% 0%; display:block; border:1px solid #000;}
.inspect_input li >h1{float:left;width:25%; margin:3% 0% 0% 10%}
.inspect_download{float:left;width:80%; margin:0% 10% 0% 10%}
.inspect_download .btn_green{float:left; width:100%; background-color:#69c524; font-size:14px; color:#FFF; text-align:center; margin:10px 0% 0 0%; padding:10px 0}
.inspect_TextCenter{float:left;width:80%; margin:2% 10% 0% 10%; text-align:center}
.inspect_btn{ float:left;width:30%;height:20px; background-color:#69c524; font-size:14px; color:#FFF; text-align:center; padding:3% 8% 3% 8%; margin:0% 0% 8% 0%}
.inspect_download >h3{float:left;width:30%; margin:3% 0% 0% 13%; text-align:center}

.giftPage_box{float:left; width:56%; margin:3% 0% 0% 22%;}
.giftPage_input{ width:94%; float:left; background:#FFF; padding:3%;
border-top-left-radius:0px;
border-top-right-radius:0px;}
.giftPage_input li{float:left;width:100%;height:auto;}
.giftPage_download{float:left;width:100%; margin:0% 0% 0% 0%}
.giftPage_download .btn_green{float:left; width:100%; background-color:#69c524; font-size:14px; color:#FFF; text-align:center; margin:10px 0% 0 0%; padding:10px 0}

.gift_input li{float:left;width:100%;height:auto;border-bottom:1px solid #d4d4d2; padding-bottom:3%}
.gift_img{float:left;width:20%;  }
.gift_left_text{float:left;width:55%; font-size:14px; margin-top:8%; text-align:center  }
.gift_right_text{float:left;width:20%;color:#F00; font-size:14px; text-align:right; margin-top:8%; text-align:center;}
.gift_box{float:left; width:56%; margin:3% 0% 0% 22%;}
.gift_input{ width:94%; float:left; background:#FFF; padding:3%;
border-top-left-radius:0px;
border-top-right-radius:0px;}
hr {height:1px; background-color:#F27E30;color:#F27E30}
.gift_page_TextBox{ width:95%;float:left; margin:2% 0% 2% 3%}


/*****footer*****/
.footer{width:100%; float:left; position:fixed; bottom:0px; right:0px;}
.footer .center ul{float:left;width:100%; background:#ffae00; height:100px;}
.footer .center li a{float:left;width:33.2%;  height:100px}
.footer .center a img{width:30%; margin:5% 0px 5% 35%}
.line{float:left;background:#FFF; width:1px;height:100px}
.correct_btn{float:left;width:33.2%; background:#ff7b00; height:100px}